<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="title"><strong><%= micropost.title %></strong> </span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    	<%= link_to "delete", micropost, method: :delete,
    									data: {confirm: "You sure?"} %>
  </span>
  
  <ul id = "comments_<%=micropost.id%>">
    <%= render micropost.comments %>
  </ul>

  <% if logged_in? && (current_user.following?(micropost.user)||current_user?(micropost.user))%>
    <%= form_for(@comment = micropost.comments.build, remote: true ) do |f| %>
        <div>
          <%= hidden_field :comment, :micropost_id %>
          <%= hidden_field_tag :user_id, current_user.id %>
        </div>
        <p>
          <br />
          <%= f.text_field :content, placeholder: "Comment ...", class: 'comment_content' %>
          
        </p>
      
    <% end %>
  <% end %>  

</li>